---
export const prerender = false;

//Import Components
import EmergencyCall from '../../components/EmergencyCall.astro';
import Testimonial from '../../components/Testimonial.astro';
import Slideshow from '../../components/Slideshow';

import Layout from '../../layouts/Layout.astro';

import type { ServiceDoc, ServiceCategory, MediaAsset } from '../../types/payload.ts';
import { RichText } from '@payloadcms/richtext-lexical/react';
import { slugify } from '../../utils/slugify';

const PAYLOAD_BASE_URL: string = import.meta.env.PUBLIC_PAYLOAD_API_URL;
const API_ENDPOINT: string = `${PAYLOAD_BASE_URL}/services?depth=2`;

const slug = Astro.params.slug;

console.log('slug:', slug);

let service: ServiceDoc | null = null;
let error: string | null = null;
let slideshowImages: Array<{src: string; alt: string; caption: string; width: number | null; height: number | null;}> = [];
let coverImage: {src: string; alt: string; width: number | null; height: number | null;} | null = null;



try {
    const response = await fetch(API_ENDPOINT);
        
        if (!response.ok) {
            throw new Error(`Failed to fetch services: ${response.status} ${response.statusText}`);
        }

        const data = await response.json();
        const services: ServiceDoc[] = data.docs;
        
        service = services.find(ser => slugify(ser.title) === slug) || null;

        if (!service) {
            return Astro.redirect('/404');
        }

        // Prepare images for slideshow/gallery
        slideshowImages = service.gallery?.map((item: any) => ({
            src: item.image.url,
            alt: item.caption || item!.title,
            caption: item.caption || '',
            width: item.image.width || null,
            height: item.image.height || null,
        })) || [];

        // Prepare cover image
        coverImage = service.coverImage ? {
            src: service.coverImage.url,
            alt: service.coverImage.caption || service!.title,
            width: service.coverImage.width || null,
            height: service.coverImage.height || null,
        } : null;


    } catch (error) {
        console.error('Error fetching services:', error);
        return [];

    }


//SEO CONFIG PAGE BY PAGE
const pagetitle = `${service.title} `;
const pagedescription = `${service.description} ` || "Learn more about our services at Leo's Roofing & Remodeling.";

---
<Layout title={pagetitle} description={pagedescription}>
    <section class="flex flex-col bg-gray-light pt-10 md:pt-25">
        <div class="flex-grow container mx-auto
        text-left px-4 md:px-0 py-15 
        content-start">
            <h1 class="font-thin text-2xl md:text-4xl max-w-3/4">
               {service.title}
            </h1>

            <div class="mt-7 md:mt-10 md:bg-white">
                <div class="h-[300px] md:h-[600px] w-auto overflow-hidden">
                    <Slideshow images={slideshowImages} interval={4000} arrows={true} custom_arrows={false} caption={false} bullets={true} client:load />
                </div>
            </div>

            <div class="bg-white mt-8 mb-8 md:mb-0 md:mt-0 py-5 md:py-10 px-3 md:px-20 prose">
                <RichText data={service.content01} />
            </div>

            {coverImage && (
            <div class="h-[240px] md:h-[445px] overflow-hidden">

                <div class="flex flex-col h-[360px] md:h-[500px] overflow-hidden">
                    <img 
                        src={coverImage.src} 
                        alt={coverImage.alt} 
                        class="w-full h-full object-cover object-center" 
                        loading="lazy"
                        width={coverImage.width}
                        height={coverImage.height}
                    />
                </div>
            </div>
            )}

            {service.content02 && (
                <div class="bg-white mt-8 mb-8 md:mb-0 md:mt-0 py-5 md:py-10 px-3 md:px-20">
                    <RichText data={service.content02} />
                </div>
            )}
             {service.callToAction && (
                <div class="bg-light-blue py-5 md:py-10 px-3 md:px-20">
                     <span class="font-semibold mb-5 block">{service.callToActionHighlighted}</span>
                    {service.callToAction}
                </div>
            )}
            
            <div class="flex justify-between text-sm md:text-3xl font-thin mt-10">
               <a href="#" class="hover:text-background flex items-center">
                    <div class="cursor-pointer pr-3 md:pr-5">
                        <svg class="h-4 md:h-8 w-auto" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 15.4967L35 0V31L0 15.4967Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <div>Previous</div>
                </a>
                <a href="#" class="hover:text-background flex items-center">
                    <div class="pr-3 md:pr-5">Next</div>
                    <div class="cursor-pointer">
                        <svg class="h-4 md:h-8 w-auto" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 31V0L35 15.4967" fill="currentColor"/>
                        </svg>
                    </div>
                </a>
            </div>

        </div>
    </section>
    <EmergencyCall />
    <Testimonial />
</Layout>