	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{seoTitle}</title>
		<meta name="description" content={Astro.props.description} />

		<!-- Open Graph / Facebook (Social Sharing) -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={Astro.props.description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={seoUrl} />
		<meta property="og:image" content="/social-image.jpg" />

	</head>